{% extends 'show.html' %}


{% block content %}
<div class="container mt-3">
    <h4>Add Education <Details></Details></h4>
    <hr>
    <form action="/education/{{s.id}}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Course Name</label>
            <input type="text" class="form-control" name="Course_Name" value="{{s.Course_Name}}">
        </div>
        <div class="form-group">
            <label for="">Board Name</label>
            <input type="text" class="form-control" name="University_or_board_Name" value="{{s.university_or_board_Name}}">
        </div>
        
        <div class="form-group">
            <label for="">Passing Year</label>
            <input type="date" class="form-control" name="Passing_Year" value="{{s.Passing_Year}}">
        </div>
        
        
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Update Record</button>
            <a href="{% url 'show' %}" class="btn btn-info">Show Details</a>

        </div>
    </form>
</div>

{% endblock content %}